html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(#4AD3DA, #277174);
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 1.2rem;

    form {

        input {
            font-size: 1rem;
        }

        button {
            background-color: #9CCACC;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 1.2rem;
            padding: 0.5rem;
            cursor: pointer;
    
            &:hover {
                filter: brightness(0.8);
            }
        }
    }

    video {
        display: none; 
        width: 100%; 
        max-width: 600px;
        margin: 0 auto;
    }

    #number {
        display: none;
        font-size: 1.4rem;
    }
}