<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
    <script src="../static/script.js" defer></script>
</head>
<body>
    <h1>Upload</h1>
    <input type="file" id="videoInput" accept="video/*">
    <button onclick="uploadVideo()">Upload</button>

    <h2>Processed Video</h2>
    <video id="processedVideo" controls style="display: none; width: 100%; max-width: 600px;">
        Your browser does not support the video tag
    </video>
</body>
</html>